@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito", sans-serif;
}

.toast .btn-close {
  background-size: 60%;
}

.btn-buffer {
  position: relative;
  overflow: hidden;
}

.btn-buffer .spinner-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-buffer::before {
  content: "";
  opacity: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-primary.btn-buffer::before {
  background-color: var(--bs-primary);
}

.btn-outline.btn-buffer::before {
  background-color: #fff;
}

.sidebar .sidebar-nav {
  text-transform: capitalize;
}

.breadcrumb {
  cursor: pointer;
}

.header-nav .notifications .notification-item p {
  font-size: 12px;
  margin-bottom: 0;
}

.header-nav .notifications .notification-item h4 {
  font-size: 14px;
}

.header-nav .notifications .notification-item {
  padding: 10px;
}

.min-w-max {
  min-width: max-content;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

table tr th:last-child,
  table tr td:last-child {
  text-align: end;
}

.frame {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.frame-100 {
  width: 100px;
  height: 100px;
}

.frame-48 {
  width: 48px;
  height: 48px;
}

.frame-36 {
  width: 36px;
  height: 36px;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-30 {
  width: 30px;
  height: 30px;
}

.active-badge {
  bottom: 10px;
  right: 6px;
}

.client-details .nav-link.active {
  background-color: var(--bs-dark);
  color: #fff;
}

.client-details .nav-link{
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 15px;
}

