<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add barber</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <div class="container mt-4">
      <h2>Add Barber</h2>
      <form id="addform" enctype="multipart/form-data" >
        <label for="image">Upload Images:</label>
        <input type="file" class="form-control" id="imge" name="barber_images" multiple />

        <label for="name">Barber Name:</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="bname"
        /><br />

        <label for="barbar_type">barbar_type:</label>
        <input
          type="text"
          class="form-control"
          name="barbar_type"
          id="btype"
        /><br />
        <button type="submit" class="btn btn-primary custom-btn">Add Barber</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

 <script src="/js/barber.js"></script>
  </body>
</html>
