<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-4">
      <h2>Update About</h2>
      <form id="updateform" enctype="multipart/form-data">
        <label for="image">Upload Images:</label>
        <input type="file" class="form-control" name="imageArray" multiple />
        <img src="<%= about.img[0] %>" alt="Current Image" width="100" /><br />
        <label for="experince">Experience:</label>
        <input
          type="text"
          class="form-control"
          name="experince"
          value="<%= about.experince %>"
          required
        /><br />

        <label for="description">Description:</label>
        <input
          type="text"
          class="form-control"
          name="description"
          value="<%= about.description %>"
          required
        /><br />

        <input
          type="hidden"
          id="aboutId"
          name="aboutId"
          value="<%= about._id %>"
        />

        <button type="submit" class="btn btn-primary custom-btn">Update About</button>
      </form>
    </div>
  </body>
</html>
