<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f4f4f4; 
          }
    
          button {
            padding: 15px 30px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            align-items: center;
            color: #1d2434;
            background: none;
            border: 2px solid #1d2434;
            border-radius: 0;
            transition: 0.3s;
            margin-top: 20px;
          }
    
          button:hover {
            background-color: black;
            color: #d5b981;
          }
    </style>
    
  </head>
  <body>
    <form id="forgotPassword">
      <div class="login">
        <h1>Forgot password</h1>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" id="email" placeholder="Enter Your Email" />
        </div>  

        <div class="form-group">
          <label>New Password:</label>
          <input
            type="password"
            id="newpassword"
            placeholder="Enter Your New Password"
          />
        </div>
        <div class="form-group">
          <label>confirm Password:</label>
          <input
            type="password"
            id="confirmpassword"
            placeholder="Enter Your Confirm Password"
          />
          </div>
       
        <button class="form-group" type="submit" id="loginBtn">update password</button>

      </div>
    </form> 
    <script>
//Forgot password 
$(document).ready(function () {
  $("#forgotPassword").on("submit", function (e) {
    e.preventDefault();
    const email = $("#email").val();
    const newpassword = $("#newpassword").val();
    const confirmpassword = $("#confirmpassword").val();

    console.log("AJAX is being called"); 

    if(!email && !newpassword && !confirmpassword){
      userToast(2, "Please fill all fields", 2000);
      return;
    }
    if(!email){
      userToast(2,'email not exits', 2000);
      return;
    }
    
    if(newpassword !== confirmpassword){
      userToast(2, "newpassword and confirm password must be match", 2000);
      return;
    }
    $.ajax({
      url: "/client/forgot",
      type: "POST",
      data: JSON.stringify({ email: email, newpassword: newpassword, confirmpassword: confirmpassword }),
      contentType: "application/json",
      success: function (data) {
        if (data.isSuccess === true) {
          userToast(1, data.message || "Registration successfully");
          setTimeout(() => {
            window.location.replace("/client/otpverfication");
          }, 1000);
        } else {
          userToast(
            0,
            data.error || "Registration failed please try again",
            1000
          );
        }
      },
      error: function (error) {
        userToast(
          0,
          error.responseJSON.error || "An unexpected error occurred",
          1000
        );
      },
    })
  });
});
    </script>
       <script src="../js/main.js"></script>
  </body>
</html>
