
<% data.galleries.forEach((gallery)=>{ %>
  <% gallery.img.forEach((image)=>{ %>
  <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item">
    <div class="portfolio-wrap">
      <a
        href="http://localhost:3000<%=image%>"
        data-lightbox="portfolio"
      >
        <img
          src="http://localhost:3000<%= image%>"
          alt="Portfolio Image"
        />
      </a>
    </div>
  </div>   
  <% }) %>
  <% }) %>