<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f4f4f4; /* Optional background color for styling */
      }

      button {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        align-items: center;
        color: #1d2434;
        background: none;
        border: 2px solid #1d2434;
        border-radius: 0;
        transition: 0.3s;
        margin-top: 20px;
      }

      button:hover {
        background-color: black;
        color: #d5b981;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <form id="loginForm">
      <div class="login">
        <p>Welcome To <%= header.title %></p>
        <h1>Login Form</h1>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" id="email" placeholder="Enter Your Email" />
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input
            type="password"
            id="password"
            placeholder="Enter Your Password"
          />
          <br />

          <a href="/client/forgot" class="forgot-password">Forgot Password</a>
        </div>

        <button class="form-group" type="button" id="loginBtn">Submit</button>

        <div class="form-group">
          <span
            >Don't have an account? <a href="/client/register">Sign Up</a></span
          >
        </div>
      </div>
    </form>
    <script>
      $(document).on("click", "#loginBtn", function () {
        let email = $("#email").val();
        let password = $("#password").val();
        if (!email && !password) {
          userToast(2, "all filed are mandatroy", 1000);
          return;
        }
        if (!email) {
          userToast(2, "Please enter email", 1000);
          return;
        }
        if (!password) {
          userToast(2, "Please enter password", 1000);
          return;
        }
        $.ajax({
          type: "POST",
          url: "/client/login",
          data: JSON.stringify({ email, password }),
          contentType: "application/json",
          success: function (data) {
            if (data.isSuccess === true) {
              if (data.isVery === 2) {
                userToast(1, data.message || "login succesful");
                setTimeout(() => {
                  window.location.replace("/client/home");
                }, 500);
              }
            } else{
              if (data.isVery === 1) {
                userToast(2, data.message,2000);
                setTimeout(() => {
                  window.location.replace("/client/otpverfication");
                }, 2000);
              } else if (data.isVery === 3) {
                userToast(2, data.message, 1000);
              } else {
                userToast(2, "Invalid email or password", 1000);
              }
            }
          },
          error: function (error) {
            let responseError = JSON.parse(error.responseText);
            userToast(
              2,
              responseError.message || "An unexpected error occurred",
              1000
            );
          },
        });
      });
    </script>
    <script src="../js/main.js"></script>
  </body>
</html>
