<!doctype html>
<html lang="en">
    <head>
         <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title><%- header.title %></title>

         <!-- Favicons -->
         <link rel="icon" href="<%= process.env.APP_URL %>/images/favicon.png" type="image/svg">
         <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

         <!-- Vendor CSS Files -->
         <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
         <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

         <!-- Template Main CSS File -->
         <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
   <section class="error-section page-paddings">
      <div class="error-page">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="error-content text-center">
                     <div class="e-logo mb-15">
                        <img src="/images/404.svg" alt="">
                     </div>
                     <p>Oops! We can't find that page. Please verify the link and try again. Thanks!</p>
                     <div class="error-btn">
                        <a href="/admin/dashboard" class="e-btn"><svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1280_3987)"><path d="M6.25 15.0391H3.75L15 3.78906L26.25 15.0391H23.75" stroke="url(#paint0_linear_1280_3987)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.25 15.0391V23.7891C6.25 24.4521 6.51339 25.088 6.98223 25.5568C7.45107 26.0257 8.08696 26.2891 8.75 26.2891H21.25C21.913 26.2891 22.5489 26.0257 23.0178 25.5568C23.4866 25.088 23.75 24.4521 23.75 23.7891V15.0391" stroke="url(#paint1_linear_1280_3987)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.25 26.2891V18.7891C11.25 18.126 11.5134 17.4901 11.9822 17.0213C12.4511 16.5525 13.087 16.2891 13.75 16.2891H16.25C16.913 16.2891 17.5489 16.5525 18.0178 17.0213C18.4866 17.4901 18.75 18.126 18.75 18.7891V26.2891" stroke="url(#paint2_linear_1280_3987)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><linearGradient id="paint0_linear_1280_3987" x1="3.75" y1="9.41406" x2="26.25" y2="9.41406" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC46B"></stop><stop offset="0.28" stop-color="#FFB74A"></stop><stop offset="1" stop-color="#FF9900"></stop></linearGradient><linearGradient id="paint1_linear_1280_3987" x1="6.25" y1="20.6641" x2="23.75" y2="20.6641" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC46B"></stop><stop offset="0.28" stop-color="#FFB74A"></stop><stop offset="1" stop-color="#FF9900"></stop></linearGradient><linearGradient id="paint2_linear_1280_3987" x1="11.25" y1="21.2891" x2="18.75" y2="21.2891" gradientUnits="userSpaceOnUse"><stop stop-color="#FFC46B"></stop><stop offset="0.28" stop-color="#FFB74A"></stop><stop offset="1" stop-color="#FF9900"></stop></linearGradient><clipPath id="clip0_1280_3987"><rect width="30" height="30" fill="white" transform="translate(0 0.0390625)"></rect></clipPath></defs></svg> <span>Back to Home</span></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
 </body>
</html>