    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>About Us</h2>
          </div>
          <div class="col-12">
            <a href="">Home</a>
            <a href="">About Us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="about">
      <div class="container">
        
        <div class="row align-items-center">
          
        <%if(data.about){ %>
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
            
              <% if(data.about.img && data.about.img !== undefined){ %>
              <img
                src="http://localhost:3000<%= data.about.img %>"
                alt="current Image"
              />
              <% } else { %>
              <img src="/img/about.jpg" alt="Profile" />

              <% } %><br />
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="section-header text-left">
              <p>Learn About Us</p>

              <h2><%= data.about.experince %> Years Experience</h2>
            </div>
            <div class="about-text">
              <p><%= data.about.description %></p>
            </div>
          </div>
          <%}else{%>
            <div class="col-12">
              <p class="text-center">No Data Found</p>
            </div>
            <%}%>
        </div>
        
      
      </div>
    </div>
    <!-- About End -->
