<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f4f4f4; 
          }
    
          button {
            padding: 15px 30px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            align-items: center;
            color: #1d2434;
            background: none;
            border: 2px solid #1d2434;
            border-radius: 0;
            transition: 0.3s;
            margin-top: 20px;
          }
    
          button:hover {
            background-color: black;
            color: #d5b981;
          }
    </style>
    
  </head>
  <body>
    <form id="forgotPassword">
      <div class="login">
        <h1>Forgot password</h1>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" id="email" placeholder="Enter Your Email" />
        </div>  

        <div class="form-group">
          <label>New Password:</label>
          <input
            type="password"
            id="newpassword"
            placeholder="Enter Your New Password"
          />
        </div>
        <div class="form-group">
          <label>confirm Password:</label>
          <input
            type="password"
            id="confirmpassword"
            placeholder="Enter Your Confirm Password"
          />
          </div>
       
        <button class="form-group" type="submit" id="loginBtn">update password</button>

      </div>
    </form> 
  </body>
</html>
