<section class="error-section page-paddings">
   <div class="error-page">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="error-content text-center">
                  <div class="logo mb-4">
                     <a href="index.html"><img src="images/logo.png" alt=""></a>
                  </div>
                  <h2>4<span>O</span>4</h2>
                  <h1>NOT FOUND</h1>
                  <p>Page not Found! The page you are looking for was moved, removed, renamed or might never existed.</p>
                  <div class="error-btn">
                     <a href="/admin/login/scottiger" class="btn btn-primary"><span>Continue to Our Home Page</span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>